*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Tomorrow', sans-serif;
    transition: 1s all;
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -ms-transition: 1s all;
    background: linear-gradient(to bottom,rgba(0,25,40,1),rgba(0,25,40,.9),rgba(0,25,40,.8),rgba(0,25,40,.7));
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5rem;
    padding: 0 2rem;
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 500px;
    height: 600px;
}

.i i{
    color: #38d39f;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}

.i i:hover{
    color: blue;
}

.profile{
    width: 100px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -o-transition: .4s all;
    -ms-transition: .4s all;
}

.profile:hover{
    width: 95px;
}

form{
    width: 400px;
    height: 490px;
}

.reset-form{
    display: flex;
    align-items: center;
    text-align: center;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid blue;
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    
}

.input-div:hover{
    border-bottom: 2px solid #38d39f;
}

.input-div div{
    position: relative;
    height: 20px;
}

.input-div input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background:none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Sulphur Point', sans-serif;
    color: rgb(185, 185, 185);
}

/* Animation for form header */
#reset_svg{
    display: flex;
	position: relative;
	left: 1mm;
    width: 100%;
	margin: 0;
	animation : fill_it 1s ease forwards 2.3s;
}
#reset_svg path:nth-child(1){
	stroke-dasharray: 800px;
	stroke-dashoffset: 800px;
	animation : anime 2s ease forwards .1s;
}
#reset_svg path:nth-child(2){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 0.3s;
}
#reset_svg path:nth-child(3){
	stroke-dasharray: 450;
	stroke-dashoffset: 450;
	animation : anime 2s ease forwards 0.6s;
}
#reset_svg path:nth-child(4){
	stroke-dasharray: 520;
	stroke-dashoffset: 520;
	animation : anime 2s ease forwards 0.9s;
}
#reset_svg path:nth-child(5){
	stroke-dasharray: 330;
	stroke-dashoffset: 330;
	animation : anime 2s ease forwards 1.2s;
}
#reset_svg path:nth-child(6){
	stroke-dasharray: 760;
	stroke-dashoffset: 760;
	animation : anime 2s ease forwards 1.5s;
}
#reset_svg path:nth-child(7){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(8){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(9){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(10){
	stroke-dasharray: 710;
	stroke-dashoffset: 710;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(11){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(12){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}
#reset_svg path:nth-child(13){
	stroke-dasharray: 510;
	stroke-dashoffset: 510;
	animation : anime 2s ease forwards 1.8s;
}

@keyframes anime{
	to{
		stroke-dashoffset:0;
	}
}

@keyframes fill_it{
	from{
		fill: transparent;
	}
	to{
		fill: #38d39f;
	}
}

/*update password button styles */
.reset-form input[type="submit"] { 
    font-size: 15px;
    color: #fff;
    background: #009ffb;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 1rem;
    padding: .7em 1em;
    width: 60%;
    -webkit-appearance: none;
    transition: 1s all ease-in-out;
    -webkit-transition: 1s all ease-in-out;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    -ms-transition: 1s all;
}

.reset-form input[type="submit"]:hover {
    background: #38d39f;
    /*background: none;*/
    border: none;
    outline: none;
    color: #111;
}


/* for link back to sign.php page */
a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
}

a:hover,i:hover{
    color: #38d39f;
}

::placeholder{
    color: rgb(177, 174, 174);
}



